body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}


.heading-primary {

  color: $color-white;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 60px;


  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: moveInLeft 1s ease-in-out;

      @include respond(phone) {
        letter-spacing: .5rem;
      }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
  }
}


.heading-secondary{
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all;
  letter-spacing: .2rem ;
  color: transparent;

  @include respond(tab-port){
    font-size: 2.5rem;
  }

  @include respond(phone){
    font-size: 2rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba( $color-black, .2);
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform:uppercase;

}
.paragraph{
  font-size: $default-font-size;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}